version: '3.8'

services:
  ocr-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: paddle-ocr-api
    restart: always
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
